
<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Homeowners Insurance</h2>
         
          </div>
        </div>
      </div>
    </div>
  </header>

<main>
  
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/Homeowner-insurance.jpg" alt="Homeowners Insurance">
                    </div>
                </div>
                <div class="col-md-6 col-md-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:60px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Homeowners Insurance</h2>
                      <p style="margin-left:60px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        If you have tangible assets, you need the protection of a homeowners insurance policy. These policies cover you in a home or an apartment, whether you are an owner or a renter. A well-written homeowners policy will pay to replace any of your personal property that is destroyed in a fire or other disaster. The policy will also be your first line of defense against a lawsuit from someone injured at your home.
                      <br>  The cost of this coverage is determined by many rating factors. The quality of the coverage, however, is determined by the quality of the insurer and whether the policy is written on a named perils or all-risk basis. A named-perils policy covers only those losses specifically cited in the contract. The all-risk policy works the opposite way - unless a peril is specifically excluded, coverage is provided. The all-risk policy is broader and the burden of proof is on the carrier, not you, in the event of a loss.   </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <h3>Dawar Insurance Agency offers free, comparative quotes on Homeowners Insurance from multiple insurance carriers so you can get the best possible rate.

              <br> <br> Want to see how much we can save you? Just request a quote to find out.</h3>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
