<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Life Insurance</h2>
          
          </div>
        </div>

      </div>
     
    </div>
  </header>
<main>
   
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-7 col-lg-7">
                    <div class="trusted-img">
                        <img src="assets/img/Life_insurance.jpg" alt="Life Insurance">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-caption">
                       <h2 style="margin-left:80px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Life Insurance</h2>
                      <p >
                        Finding the right life insurance products can be challenging in today’s insurance environment. Dawar Insurance Agency offers a complete line of individual life insurance products that are crafted to meet you and your family's specific needs. We work with several different top-rated insurance companies, and we will place your account with the company that will provide you with the coverage and benefits you want.

                      <br>  Dawar Insurance Agency can help you make sound, informed decisions about issues affecting your life insurance needs. Our philosophy is to fully understand your objectives and then translate them into solutions that provide assurance and peace-of-mind.
                    <br>For more information, you can read our Life Insurance FAQs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="container">
            <h2>Our life insurance products include:</h2>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="single-profile mb-30">
                    <ul style="list-style-type: circle;line-height: 35px;">
                      <li><b style="font-size: 40px;">.</b> &nbsp;Final Expense Insurance</li>
                      <li><b style="font-size: 40px;">.</b> &nbsp;Fixed Annuities </li>
                     
                    </ul>
                    </div>
                </div>
               
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="single-profile mb-30">
                        <ul style="list-style-type: circle;line-height: 35px;">
                            <li><b style="font-size: 40px;">.</b> &nbsp;Individual Life Insurance</li>
                            <li><b style="font-size: 40px;">.</b> &nbsp;Mortgage Protection Insurance</li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
