<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Individual Long-Term Care (LTC) Insurance</h2>
           
          </div>
        </div>
       
      </div>
    </div>
  </header>
<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/LTC-Insurance.jpg" alt="Individual Long-Term Care (LTC) Insurance">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:70px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">LTC Insurance</h2>
                      <p style="margin-left:70px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        Long Term Care is the type of care received either at home or in a facility, when someone needs assistance with activities of daily living, such as bathing and dressing due to an accident, an illness or advancing age.

                      <br>  Rising life expectancy means that the potential need for "long-term care" grows with every passing year of your life. The likelihood is that you or a member of your family will need long-term assistance due to a prolonged illness, a disability, or general deterioration of your health and ability to perform routine daily activities.
                        
                        <br>Most long-term care expenses are not covered by Social Security or Medicare, Medicare Supplement ("Medigap"), or private health insurance. Medicaid pays for nearly half of all nursing home care, but you must meet federal poverty guidelines and may have to "spend down" most of your assets on health care.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <h3>Dawar Insurance Agency offers free, comparative quotes on Individual Long-Term Care (LTC) Insurance from multiple insurance carriers so you can get the best possible rate.

              <br> <br> Want to see how much we can save you? Just request a quote to find out.</h3>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
