.trusted-img {
  margin-bottom:80px;
}

.trusted-caption p {
  margin-bottom: 10px;
  margin-left: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500px;
  font-size: 20px;

  text-align: justify;
}
