.footer-title h4 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight: 900;
}

.footer-list {
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-size:18px;
  }
