<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Business Owners Package Insurance</h2>
            
          </div>
        </div>
      </div>
     
    </div>
  </header>

<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/Businessowner-insurance.jpg" alt="Businessowner Insurance">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div >
                       <h2 style="margin-left:40px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Business Owners Package Insurance</h2>
                      <p style="margin-left:40px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        Business Owners Package policy, commonly called a "BOP", contains many of the insurance coverages needed by most small businesses. While these policies are not standard, there is great variation from insurance company to insurance company; there are certain common elements. The basic BOP offers business property for both building and contents, and liability insurance protection for the operation of your business. This liability protection will generally include both the operation of your business, at its established location, and the liability from your products or completed operations.

                    <br>    Some, but not all of the policies, will also offer business income and extra expense protection after an insured loss. BOP policies do not contain all of the coverages needed by a small business. Notably they do not cover any workers' compensation, professional liability, or business vehicle coverage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <h3>Dawar Insurance Agency offers free, comparative quotes on Business Owners Package Insurance from multiple insurance carriers so you can get the best possible rate.

              <br> <br> Want to see how much we can save you? Just request a quote to find out.</h3>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- <div class="request-back-area section-padding30">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="request-content">
                        <h3>Start Saving Today</h3>
                        <p>We will get back to you within 24 hrs.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    
                    <div class="form-wrapper">
                        <form id="contact-form" action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box  mb-30">
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box mb-30">
                                        <input type="phone" name="email" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box mb-30">
                                        <input type="email" name="email" placeholder="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-box mb-30">
                                        <select name="select" id="select1" class="nice-select">
                                            <option value="">Type of Insurance</option>
                                            <option value="">Auto Insurance</option>
                                            <option value="">Home Insurance</option>
                                            <option value="">Othe Personal Insurance</option>
                                            <option value="">Business Insurance</option>
                                            <option value="">Life Insurance</option>
                                            <option value="">Health Insurance</option>
                                            <option value="">Group Benefits</option>                                          
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <button type="submit" class="send-btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>     
            </div>
        </div>
    </div> -->
    <!-- Request Back End -->
</main>
