<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Group Disability Insurance</h2>
           
          </div>
        </div>
       
      </div>
    </div>
  </header>



<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
            
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Group Disability Insurance</h2>
                      
                       <h3 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       "> Long-Term Disability (LTD)</h3>

                       <p style="margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                       font-weight: 500;font-size: 20px;">  
                             In the event that an accident or illness prevents an employee from working for an extended period of time, the financial impact can be severe for the employee and employers. Long term disability (LTD) insurance is designed to help cover the employee's expenses while their regular income is interrupted. Flexible plan design options and benefit alternatives are available to meet specific needs. This valuable protection is available with low-cost, tax-deductible premiums.
                        
                       </p> 
                       <h3> Short-Term Disability (STD)</h3>
                        
                      <p style="margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                          A steady income is essential for most people. If an accident or illness interrupts that income, it affects both the employee and employer. Short term disability (STD) insurance is designed to replace a portion of the wages lost when a short term disability occurs. An affordable, flexible short-term insurance plan can provide needed benefits to both the employer and employee.
                    </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/GroupDisabilityInsurance.jpg" alt="Group Disability Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <h3>Dawar Insurance Agency offers free, comparative quotes on Group Disability Insurance from multiple insurance carriers so you can get the best possible rate.
              <br> <br> Want to see how much we can save you? Just request a quote to find out.</h3>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
