<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Group Life Insurance</h2>
        
          </div>
        </div>
      </div>
     
    </div>
  </header>

<main>
   
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
            
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       margin-bottom: 10px;">Group Life Insurance</h2>

                       <p style="margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                       font-weight: 500;font-size: 20px;"> 
                             Group life insurance is an integral part of most employee benefits packages. When provided by an employer, employees appreciate the value of life coverage and the additional security it provides to their families.

                      <br>  Employers have a wide variety of optional plan designs to customize a group life insurance plan. Optional coverages include voluntary life insurance, supplemental life coverage, accidental death and dismemberment policies, and dependent life insurance. The premium paid for group life insurance is generally a business deduction, and this stand-alone contract is usually less expensive than the life coverage provided with medical/health insurance.
                    </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img" style="margin-bottom: 20px;">
                        <img src="assets/img/GroupLifeInsurance.jpg" alt="Group Life Insurance" height="300px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Group Life Insurance from multiple insurance carriers so you can get the best possible rate.
               Want to see how much we can save you? Just request a quote to find out. </p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
