<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Commercial Auto Insurance</h2>
     
          </div>
        </div>
       
      </div>
    </div>
  </header>


<main>
  
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/Commercial-Auto.jpg" alt="Commercial Auto Insurance">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:80px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Commercial Auto Insurance</h2>
                      <p>
                        A commercial auto insurance policy is required under most circumstances when the vehicle is used for business purposes and meets certain other requirements. It is not just the registration that determines the requirement for a business automobile insurance policy. Other requirements are ownership by a corporation, use in hauling goods for hire and gross vehicle weight of the vehicle. Some small trucks can be owned and insured under a personal automobile insurance policy under specific circumstances.
                      <br>  Commercial automobile insurance policies are not regulated in pricing, as are private passenger policies. There is price competition between insurance companies for good commercial automobile insurance.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Commercial Auto Insurance from multiple insurance carriers so you can get the best possible rate.
              Want to see how much we can save you? Just request a quote to find out.</p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>

    <!-- Request Back End -->
</main>
