
<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Auto Insurance</h2>
         
          </div>
        </div>
      </div>
    </div>
  </header>
<main>
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img" style="width: fit-content;">
                        <img src="assets/img/Auto_Insurance.jpg" alt="Auto_Insurance" >
                    </div>
                </div>
                <div class="col-md-6 col-md-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:100px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Auto Insurance</h2>
                      <p>
                        Auto or car insurance coverage has two parts. The first is the liability section of the policy. It covers your financial responsibility for injuring others. Some liability coverage is required by most states.
                        The second part of auto insurance covers the car itself: comprehensive coverage reimburses losses from fire, theft or other perils; collision coverage pays to repair losses caused by an accident.
                         Often this coverage is mandated by leasing companies or banks. There are also ancillary medical,
                          car rental and other coverages which vary by state.
                         Utilizing high deductibles on the physical damage coverages can help reduce premiums.
                          If you carry umbrella insurance, you must be sure that you carry the required amount of basic liability 
                          insurance to avoid a gap in coverage for a serious accident.   </p>
                          <!-- <a href="#" style="margin-left: 70px;"class="btn btn-block trusted-btn">Learn More</a> -->
                          <div class="container col text-center">
                            <button type="button" class="btn btn-outline-info hero__btn" style="margin-left:85px;">Learn More</button>
                        </div>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->
 
    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <p >Dawar Insurance Agency offers free, comparative quotes on Auto Insurance from multiple insurance carriers so you can get the best possible rate.
              Want to see how much we can save you? Just request a quote to find out.</p>
         
        </div>
    </div>

    <!-- Team-profile End-->
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
 
    <!-- Request Back End -->
</main>
