<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Group Dental Insurance</h2>
         
          </div>
        </div>
      </div>
  
    </div>
  </header>
<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
            
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Group Dental Insurance</h2>
                       <p style="margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                       font-weight: 500;font-size: 20px;"> 
                           Group dental insurance is one of the benefits most requested by employees. Many employers provide dental insurance for their employees, but a growing number of employers are offering this as a voluntary benefit that is paid 100% by the employee through payroll deductions. Most dental plans provide full coverage with a 100% benefit for preventive exams & cleanings, an 80% benefit for basic services such as fillings and root canals, and 50% benefit for major services and prosthodontics such as dentures, crowns, etc.

                      <br>  Some dental insurance companies provide a dental buy-up plan which allows the employer to purchase a base plan, while employees purchase additional benefits as needed. Another newer option for dental insurance is a dual option plan that allows each employee to choose a basic plan or a more comprehensive plan based on his needs. This is a voluntary benefit, which means that each employee gets the coverage he needs for himself and his family.
                    </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/GroupDentalInsurance.jpg" alt="Group Dental Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Group Dental Insurance from multiple insurance carriers so you can get the best possible rate.
            Want to see how much we can save you? Just request a quote to find out.</p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
