<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">General Liability Insurance</h2>
           
          </div>
        </div>
       
      </div>
    </div>
  </header>
  

<main>
 
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
               
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2  style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">General Liability Insurance</h2>
                      <p >
                        Normally, it is difficult for businesses or general contractors to work without general insurance. General liability insurance is intended to guard operators and owners of companies against claims that may come from a broad spectrum of sources. These exposures could be just about anything, including liability engendered by accidents from the operations of the insured party, contractual liability, products manufactured by the insured party, etc.

                       <br> The liability you select, whether it is one, two, or three million dollars, determines the cost of general liability insurance. Also factored into the rates are the kind of work undertaken, gross receipts and total payroll expenses. Similar to auto insurance, when it comes to general liability insurance, you will first have to make a down payment and then follow it up with installments. Before buying general liability insurance, it is best to compare the quotes available in the market.
                        
                       <br> It is the business owner's or general contractor's job to make sure that the people working under him/her are covered by an insurance policy. If for example, a person who is not a part of the project gets injured, the injured person's lawyer can target just about anyone involved in the project. The more individuals that are involved, the greater the chances of a successful lawsuit.
                    </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/General_Liability.jpg" alt="General Liability Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Auto Insurance from multiple insurance carriers so you can get the best possible rate.
             Want to see how much we can save you? Just request a quote to find out.</p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
