<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Individual Disability Insurance</h2>
            
          </div>
        </div>
       
      </div>
     
    </div>
  </header>

<main>
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="container">
            <div class="row d-flex align-items-end">
            
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Individual Disability Insurance</h2>
                      <p >
                        Individual Disability Income Protection is a must for a business owner, and highly recommended for executives. If you are a business owner, you should consider purchasing both group and individual policies, if possible. As an executive, you should be sure to obtain group coverage if it is available. Only forty-three percent of large companies provide group long term disability insurance.

                     <br>   Your chances are even less likely to get long term disability insurance if you work for a small company. The cost of a plan provided by your employer is usually less than you would pay for an individual disability policy and often you can get coverage automatically without having to qualify medically. If your employer doesn't provide disability insurance then you may want to consider an individual disability policy.
                        
                        <br>Or, you may need a personal disability insurance policy to supplement an employer group plan. Be sure to check the group provisions carefully: How long does the group disability insurance coverage last? How much is the benefit? Does the disability insurance policy cover bonus and commission income? Will the coverage continue if you leave that employer?
                        
                        <br>A typical Individual Disability Income Protection plan starts to pay benefits after you have been off work for 1 to 6 months, and pays benefits for several years or until retirement age, depending on the policy.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/IndividualDisabilityInsurance.jpg" alt="Individual Disability Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Individual Disability Insurance from multiple insurance carriers so you can get the best possible rate.
               Want to see how much we can save you? Just request a quote to find out.  </p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
