<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Renters Insurance</h2>
        
          </div>
        </div>
      </div>
    
    </div>
  </header>


<main>


    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/Renters-Insurance.jpg" alt="Renters Insurance">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:60px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Renters Insurance</h2>
                      <p style="margin-left:60px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        If you live in a rented house or an apartment, renters insurance provides important coverage for both you and your possessions.

                       <br> In case your house or apartment is broken into, destroyed by a fire, or perhaps a friend gets injured at your home, renters insurance provides financial protection for you and your family. It pays for the repair and replacement of lost items as well as any liability issues you may be responsible for.
                        
                        <br>A renters insurance policy from Dawar Insurance Agency can provide you with coverage for your personal items and personal liability to protect you from the unexpected.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Renters Insurance from multiple insurance carriers so you can get the best possible rate.
               Want to see how much we can save you? Just request a quote to find out.  <p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
