<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Individual Vision Insurance</h2>
         
          </div>
        </div>
       
      </div>
    
    </div>
  </header>


<main>
   
    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
         
                <div class="col-xl-7 col-lg-7">
                    <div >
                       <h2 style="margin-left:70px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Individual Vision Insurance</h2>
                      <p style="margin-left:70px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        Vision insurance provides coverage for services relating to the care and treatment of the eyes. It typically covers services delivered by an optometrist or ophthalmologist. Depending on the specific plan, some or all of the following services may be covered:
                      </p>
                      <ul style="list-style-type: circle;line-height: 35px;">
                        <li style="margin-left:70px;"><b style="font-size: 40px;">.</b> &nbsp;
                        Yearly eye exams - glasses (with an annual limit).</li>
                        <li style="margin-left:70px;"><b style="font-size: 40px;">.</b> &nbsp;
                        Contact lenses and fitting (with an annual limit).</li>
                        <li style="margin-left:70px;"><b style="font-size: 40px;">.</b> &nbsp;
                        Glaucoma screening.</li></ul>
                      <p style="margin-left:70px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;"> 
                           Some vision insurance plans may provide more extensive coverage (such as certain eye surgeries), while others may limit coverage to "reasonable and customary" charges incurred during routine eye exams. Reasonable and customary charges generally do not include the cost of glasses and contact lenses.
                    </p>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/IndividualVisionInsurance.jpg" alt="Individual Vision Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Auto Insurance from multiple insurance carriers so you can get the best possible rate.

               Want to see how much we can save you? Just request a quote to find out. </p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
