
    <main>
 <div class="slider-area ">
            <div class="slider-active"> 
                <div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg" style="background-image: url(assets/img/hero/h1_hero.jpg);margin-top: 120px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <p data-animation="fadeInLeft" data-delay=".4s">Welcome to Dawar Insurance Agency</p>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s" style="font-size: 48px;">Your Local Fresno Independent Insurance Agency</h1>
                                   
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Team-profile Start -->

         <!-- <section id="gallery">
            <div class="container">
              <div class="row">
              <div class="col-lg-4 mb-4 block box-shadow" >
              <div class="card">
                <img src="assets/img/Truck-insurance.jpg" alt="" class="card-img-top card-img">
                <div class="card-body profile-caption">
                    <h4 class="heading"><a href="#" class="heading">Trucking Insurance</a></h4> 
                  <p class ="para-text">Whether you’re working in construction, 
                      excavation, manufacturing, or any other private carrier 
                      capacity, we have truck insurance solutions for you.</p>
            
                </div>
               </div>
              </div>
            <div class="col-lg-4 mb-4 block box-shadow">
            <div class="card">
                <img src="profile" src="assets/img/team/team_2.jpg" alt="" class="card-img-top card-img">
                <div class="card-body profile-caption">
                    <h4 class="heading"><a href="#">Life Insurance</a></h4>
                    <p class="para-text">Whether you’re working in construction, excavation, manufacturing, or any other private carrier capacity, 
                        we have life insurance solutions for you.</p>
                 
                </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4 block box-shadow">
                  <h2>What we do for you</h2>
                    <div class="card-body profile-caption">
                        <p class="para-text">Dawar Insurance Agency specializes in auto, 
                            home, business, commercial trucking, health,
                             and life insurance.</p>
                        <a [routerLink]="['/about']" style="text-decoration: underline;">View profile »</a>   
                    </div>  
                  </div>
            </div>
          </div>
          </section> -->
          <div id="cards_landscape_wrap-2" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4 ">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="assets/img/Truck-insurance.jpg" alt="" class="card-img-top card-img">
                                    </div>
                                    <div class="text-container profile-caption">
                                        <h4 class="heading"><a href="#" class="heading">Trucking Insurance</a></h4> 
                                        <p class ="para-text">Whether you’re working in construction, 
                                            excavation, manufacturing, or any other private carrier 
                                            capacity, we have truck insurance solutions for you.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="profile" src="assets/img/team/team_2.jpg" alt="" class="card-img-top card-img">
                                    </div>
                                    <div class="text-container profile-caption">                                    
                                        <h4 class="heading"><a href="#">Life Insurance</a></h4>
                                        <p class="para-text">Whether you’re working in construction, excavation, manufacturing, or any other private carrier capacity, 
                                            we have life insurance solutions for you.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a href="">
                            <div class="card-flyer" style="border:10px solid black;">
                                <div class="text-box" >
                        
                                    <h2 style="margin-left:10px;margin-top:30px;">What we do for you</h2>
                                    <div class="text-container profile-caption">
                                        <p class="para-text">Dawar Insurance Agency specializes in auto, 
                                            home, business, commercial trucking, health,
                                             and life insurance.</p>
                                        <a [routerLink]="['/about']" style="text-decoration: underline;">View profile »</a>   
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>

          <!-- Team-profile End-->

        <!-- We Trusted Start-->
 <div class="we-trusted-area trusted-padding">
            <div class="card container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-7 col-lg-7"> 
                        <div class="trusted-img" style="margin-bottom:10px;">
                            <img class="#" src="assets/img/team/wetrusted.jpg" alt="" width="20px">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <div class="trusted-caption profile-caption">
                           <h2 style="margin-left: 70px;text-indent:-1%;">Dawar Insurance Agency</h2>
                           <p class="para-text para-spacing" style="margin-left:70px;text-align: justify;">Established in 2016, Dawar Insurance Agency started off as a Life and Health Insurance agency. About four months ago, we started selling personal and commercial products. When our agency started selling personal and commercial insurance products, we went from being individual insurance agents selling life and health insurance to become Dawar Insurance Agency. Our agency specializes in auto, home, business, commercial trucking, health, and life insurance.
                           </p>
                            <a href="#" style="margin-left: 70px;" class="btn trusted-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> 
        <!-- We Trusted End-->

        <!-- services Area Start-->
       
        <!-- services Area End-->
        <div class="team-profile team-padding" style="padding:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2 style="font-family:serif;margin-top:50px;">Our Services</h2>
                        </div>
                    </div>
                </div>
                <div id="cards_landscape_wrap-2">
                    <div class="container" style="padding:10px;">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="assets/img/Auto-insurance.jpg" alt="Auto Insurance" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">                                    
                                                <h4><a href="#" class="heading">Auto Insurance</a></h4>
                                                <p class="para-text">Auto or car insurance coverage has two parts.
                                                        The first is the liability section of the policy. 
                                                          The second part of auto insurance covers<br>
                                                          the car itself.</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                          
                            <div class="col-lg-4 mb-4">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="profile" src="assets/img/team/team_2.jpg" alt="" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">                                    
                                                <h4><a href="#" class="heading">Home Insurance</a></h4>
                                                <p class ="para-text">If you have tangible assets,
                                                    you need the protection of a homeowners insurance policy. 
                                                    These policies cover you in a home or an apartment,
                                                     whether you are an owner or a renter. </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="assets/img/Truck-insurance.jpg" alt="trucking-insurance" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">                                    
                                                <h4><a href="#" class="heading">Trucking Insurance</a></h4>
                                                <p class="para-text">Whether you’re working in construction,
                                                    excavation, manufacturing, or any other private carrier capacity,
                                                     we have truck insurance solutions for you.</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>        
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-4 ">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="assets/img/Business-insurance.jpg" alt="Business-insurance" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">
                                                <h4><a href="#" class="heading">Business Insurance</a></h4>
                                                <p class="para-text">There are various types of commercial business 
                                                    insurance that take care of property, liability and workers'
                                                     compensation, to name a few.</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="assets/img/Health-insurance.jpg" alt="Health Insurance" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">                                    
                                                <h4><a href="#" class="heading">Health Insurance</a></h4>
                                                <p class="para-text">Dawar Insurance Agency offers a complete line of individual
                                                    health insurance products that are crafted to meet you and your
                                                     family’s specific needs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <a href="">
                                    <div class="card-flyer">
                                        <div class="text-box">
                                            <div class="image-box">
                                                <img src="assets/img/General-Liability.jpg" alt="General Liability Insurance" class="card-img-top card-img">
                                            </div>
                                            <div class="text-container profile-caption">                                    
                                                <h4><a href="#" class="heading" style="letter-spacing:-1px;">General Liability Insurance</a></h4>
                                                <p class="para-text">General liability insurance is intended to guard
                                                    operators and owners of companies against claims that may come 
                                                    from a broad spectrum of sources. </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <!-- Completed Cases Start -->
    
        <!-- Completed Cases end -->

        <!-- Testimonial Start -->
        <div class="testimonial-area fix text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-center m-auto">
                        <h2>Testimonials</h2>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>   
                          
                            <div class="carousel-inner">
                                <div class="item carousel-item active">
                                    <div class="img-box"><img src="assets/img/testimonials.png" alt="" witdh="100" height="100"></div>
                                    <p class="testimonial">Great Work</p>
                                    <p class="overview"><b>Paula Wilson</b></p>
                                </div>
                                <div class="item carousel-item">
                                    <div class="img-box"><img src="assets/img/testimonials.png" alt="" witdh="100" height="100"></div>
                                    <p class="testimonial">Satisifed Services</p>
                                    <p class="overview"><b>Antonio Moreno</b></p>
                                </div>
                                <div class="item carousel-item">
                                    <div class="img-box"><img src="assets/img/testimonials.png" alt="" witdh="100" height="100"></div>
                                    <p class="testimonial">100% Satisifed</p>
                                    <p class="overview"><b>Michael Holz</b></p>
                                </div>
                            </div>
                           <br>
                            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Request Back Start -->
        <app-common-forms></app-common-forms>
        <!-- Request Back End -->

    </main>