<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Individual Dental Insurance</h2>
          
          </div>
        </div>
       
      </div>
    
    </div>
  </header>

<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/IndividualDentalInsurance.jpg" alt="Individual Dental Insurance">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:100px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Individual Dental Insurance</h2>
                      <p >
                        Individual Dental Insurance is available to individuals and families that are not covered by group dental insurance. For people without dental insurance, cost often stands in the way of getting the care they need to maintain the health of their teeth and gums. Even for routine preventive care, a trip to the dentist's office could mean a substantial amount of money out of your pocket.

                      <br>  A freedom-of-choice plan allows you to see any dentist you wish. However, this plan does impose 6- to 12-month waiting periods for some services. This is not the best plan for an individual who needs comprehensive coverage within the first 12 months. However, if dental coverage is desired for a long period of time, and there is no rush to receive the major benefits, this plan may work for you.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <h3>Dawar Insurance Agency offers free, comparative quotes on Individual Dental Insurance from multiple insurance carriers so you can get the best possible rate.

              <br> <br> Want to see how much we can save you? Just request a quote to find out.</h3>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
