
<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Motorcycle Insurance</h2>
            
          </div>
        </div>
      </div>
    </div>
  </header>
  


<main>

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-img">
                        <img src="assets/img/Motorcycle-Insurance.jpg" alt="Motorcycle Insurance" height="620">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="trusted-caption">
                       <h2 style="margin-left:70px;font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Motorcycle Insurance</h2>
                      <p style="margin-left:70px;margin-bottom:10px;font-family:'Times New Roman', Times, serif;
                      font-weight: 500;font-size: 20px;">
                        Whether you’re an enthusiast or a first-timer, having fun, being responsible and being safe is what it’s all about. Being responsible includes finding the right insurance for your motorcycle.

                     <br>   Motorcycle insurance is a way of sharing the risks of riding between you and your insurance company. The way it works is simple. You pay a set premium to an insurance company for coverage. In return, the company promises to pay for specific financial losses that might occur during the term of the policy.
                        
                        <br>Most people rely on motorcycle insurance to protect themselves against loss in case of an accident. In many states, you must carry basic insurance to cover the cost of losses you cause to others in an accident. If the unexpected happens, insurance gives you peace of mind in knowing you are protected. At Dawar Insurance Agency, we have a variety of motorcycle policy options to meet your needs. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
          <p>Dawar Insurance Agency offers free, comparative quotes on Motorcycle Insurance from multiple insurance carriers so you can get the best possible rate.
          Want to see how much we can save you? Just request a quote to find out.  <p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
