<br>
<br>
<br>
<br>
<br>
<br>
<header class="card">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/hero/contact_hero.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Mortgage Protection Insurance</h2>
           
          </div>
        </div>
      </div>
    </div>
  </header>

<main>
    <!-- slider Area Start-->
    <!-- <div class="slider-area ">
        
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/contact_hero.jpg" style="background-image: url(assets/img/hero/contact_hero.jpg);margin-top: 120px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Mortgage Protection Insurance</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- slider Area End-->

    <!-- We Trusted Start-->
    <div class="we-trusted-area trusted-padding">
        <div class="card container">
            <div class="row d-flex align-items-end">
            
                <div class="col-xl-7 col-lg-7">
                    <div>
                       <h2 style="font-family: Arial, Helvetica, sans-serif;font-weight: 600;
                       ">Mortgage Protection Insurance</h2>
                      <p >
                        For most homeowners, the mortgage is the single largest source of personal debt. Mortgage protection insurance is a specialized life insurance policy designed to pay off that debt in the event of your death.

                       <br> Imagine the worst case scenario. A fatal accident today would force your loved ones to immediately experience financial hardship. On top of your final expenses, the mortgage is due, but your family has no way to pay it without your income. They haven't even had enough time to grieve and now they have to deal with the impending tragedy of foreclosure.
                        
                        <br>Like most life insurance, mortgage protection insurance eases the financial burden of your loved ones. It is an affordable way of ensuring that your home is paid for no matter the circumstances. Cancer, stroke, heart attack, injury, death—your family will never be in jeopardy of losing its home as long as you put a custom mortgage protection insurance plan in place.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="trusted-img">
                        <img src="assets/img/Mortgage-Protection.jpg" alt="Mortgage Protection Insurance">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Trusted End-->

    <!-- Team-profile Start -->
    <div class="team-profile team-padding">
        <div class="card container">
            <p>Dawar Insurance Agency offers free, comparative quotes on Mortgage Protection Insurance from multiple insurance carriers so you can get the best possible rate.
             Want to see how much we can save you? Just request a quote to find out.  </p>
         
        </div>
    </div>
    <!-- Team-profile End-->
  
  
    <!-- Request Back Start -->
    <app-common-forms></app-common-forms>
    <!-- Request Back End -->
</main>
